{
    outline: orange 1px solid;
}

body {
    padding: 10px 0px;
    margin: 0px auto;
    width: 1280px;
    background-color: #131313;
    font-family: "Verdana, sans-serif;
    font-size: 14px;
    color: #d4d4d4;
}

header {
    margin-bottom: 10px;
    margin: 0px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #222;

}

nav {
    padding: 33px 80px 10px;
    margin-bottom: 16px;
}

.icon {
    float: right;
}

.first_screen {
    margin: 0px;
    padding: 0px 80px 100px;
    display: flex;
    justify-content: space-between;
}

.block_hearding {
    width: 245px;
    margin: 0px;
    padding: 70px 70px 70px 125px;
    text-align: center;
}

.text_header {
    color: white;
    font-family: "Courier New" sans-serif;
    font-size: 45px;
    text-align: left;
}

.text{
    text-align: left;
}

.button_header {
    width: 240px;
    height: 50px;
    background-color: #ffcb06;
    border-radius: 35px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    border: 0;
}

.button_header:hover {
    width: 240px;
    height: 50px;
    background-color: #ffcb06;
    border-radius: 35px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

.button_header:active {
    width: 240px;
    height: 50px;
    background-color: #ffcb06;
    border-radius: 35px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #fff;
}

.block_img {
    width: 440px;
    padding: 0px;
}

header ul {
    display: inline-block;

}

header li {
    margin-right: 30px;
    display: inline;
}

.second_screen {
    background-color: #131313;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 40px 160px 30px;
}

.blocks {
    margin: 40px 0px;
    padding: 45px 0px;
    width: 180px;
}

.third_screan {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 160px;
    justify-content: space-between;
    background-color: #fff;
    color: black;
}

.elements {
    width: 440px;
    margin: 30px 20px;
    list-style: none;
}

.elements ul {
    list-style: none;
    padding: 0px;
}

li {
    margin-bottom: 30px;
}

.elements li {
    position: relative;
    margin-left: 15px;
}

.elements li::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffcb06;
    border-radius: 50%;
    top: 4px;
    left: -15px;

}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 35px 160px 17px;
    list-style: none;
}

.logo_footer {
    width: 185px;
}

.text_logo {

    margin-top: 80px;
    color: #535353;
}

.list_footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 700px;
    list-style: none;
    color: white;
    margin-top: 30px;
    padding-bottom: 50px;
    font-size: 15px;

}

.list_items {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 180px;
    list-style: none;
    padding-top: 70px;
    line-height: 0.5;
}

a {
    text-decoration: none;
    color: #888888;
}
